/* Navbar starts*/

#primary
{
    display: flex;
    position: sticky;
    top: 0px;
    width: -webkit-fill-available;
    height: 110px;
    background-color: rgba(0, 0, 0);
    transition:"padding-top" 0.5s;
    padding-top: auto;
    padding-bottom: auto;
    z-index: 1;
}

#logoId
{
    margin:auto;
}

#logo:hover
{
    cursor:pointer;
}

#logo
{
    height: 70px;
    margin: auto;
}


#list
{
    display: inline-flex;
    color: white;
    margin:auto;
}

.tabs
{
    color: white;
    margin: 17px 40px;
    padding: 10px 3px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.tabs:hover
{
    color: #FF2B06;
    text-decoration: none;
}

.temp{
    display: none;
}

.temp:hover{
    display: block;
}

#toggleMenu
{
    margin:auto 20px;
    width: 40px;
    display: none;
    cursor: pointer;
}


#leftContainer
{
    position: fixed;
    float: left;
    top:0px;
    left: -2px;
    height: 100vh;
    background:linear-gradient(219deg, #ff0000, #000000), red;
    width: 260px;
    z-index: 1;
    opacity: 1;
    transition:all 1s ease-in-out;
}


#leftNav
{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.leftTabs
{
    text-decoration: none;
    padding: 20px 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-bottom:0.5px solid white;
    transition: color 0.25s ease-in-out;
}

.leftTabs:hover
{
    color: #FF2B06;
    text-decoration: none;
}

.close
{
    display: none;
}


#closeMenu
{
    margin:auto 200px;
    margin-bottom: 50px;
    cursor: pointer;
    width: 20px;
}

.dropDownMenu
{
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    top: 11vh;
    right: 30.5vw;
    border-radius: 4px;
    z-index: 1;
}

#dropDownTabs
{
    margin: 13px;
    transition: all 0.2s ease-in-out;
    letter-spacing: 0.05rem;
    color: white;
    text-decoration: none;
}

#dropDownTabs:hover
{
    text-decoration: none;
}


.leftdropDownMenu
{
    display: flex;
    flex-direction: column;
}

.card-container{
    display:block;

}

#leftdropDownTabs
{
    text-decoration: none;
    padding: 20px 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-bottom:0.5px solid white;
    transition: color 0.25s ease-in-out;
    letter-spacing: 0.08rem;
}

#dropDownTabs:hover
{
    color: #FF2B06;
}

#leftdropDownTabs:hover
{
    color: #FF2B06;
    cursor: pointer;
}

.close
{
    display: none;
}

.active
{
    color: #FF2B06;
}


@media only screen and (max-width:1020px) {
    .tabs
    {
        display: none;
    }

    #toggleMenu
    {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    #logo
    {
        height: 50px;
        margin: auto;
    }

    #toggleMenu
{
    margin:auto 20px;
    width: 30px;
    cursor: pointer;
}
}


/* Navbar ends */
#main{
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); 
body{
    color: #FFFFFF;
    font-family: 'poppins', sans-serif;
    padding:  0px;
    margin: 0px;
}


iframe{
    max-width: 225px;
    height: 155px;
}
.nominateBtn{
    display: inline-block;
    margin: 2% 0;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px;
    font-size: 15px;
    background: linear-gradient(to left, red 50%, white 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.nominateBtn:hover{
    color:black;
    background-position: left;
}

.body_content{
    padding: 0 6%;
}


h3{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #F00F25;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}
p{
    font-family: unset;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #FFFFFF;
}

.card{
    display: inline;
    float: left;
    align-items: center;
    padding: 10px;
    
}
.card-content iframe{
    max-width: 275px;
    height: 195px;
}
.card-content img{
    max-width: 225px;
    height: 125px;
}

#card1{
    display: inline;
    float: left;
    align-items: center;
    padding: 10px;
}

.card-content:hover{
    box-shadow: 2px 2px 50px rgba(255, 15, 0, 0.75);
}
.card-content{
    width: 265px;
    /* border: 1px solid #FFFFFF; */
    border-radius: 8px;
    padding: 20px;
}
.card-content h5{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.card-content p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17.5px;
    word-spacing: -0.15rem;
    letter-spacing: 0.05rem;
    line-height: 24px;
}

.thumbnail{
    height:165px;
    width:265px;
    overflow:hidden;
    cursor:pointer;
}

.swipe{
    display: flex;
    justify-content: center;
    width: 100%;
}

.flt-left{
    float:left;
    }
    .carousel{
    max-width:100%;
    display: flex;
    margin-top: 0%;
    max-height: 100%;
    }
    .carousel-2016 .row-container{
        display: flex;
    }
    .row{
    width:100%;
    padding:0;
    overflow:hidden;
    margin:auto;
    }
    .row-container{
    width:100%;
    transition:0.5s;
    }
    .clear{
    clear:both;
    }
    .controls{
    width:100%;
    margin:auto;
    }
    button{
    border:none;
    font-weight:bold;
    outline:none;
    background: none;
    }



    @media only screen and (max-width: 440px) {
        .card-content{
            width: 225px;
            border-radius: 8px;
            padding: 20px;
        }
    
        .thumbnail{
            height:165px;
            width:225px;
            background: black url('./Images/thumbnail.png') no-repeat center;
            overflow:hidden;
            cursor:pointer;
        }
    
        .card-content iframe{
            max-width: 225px;
            height: 195px;
        }
    }
    
    
    @media only screen and (max-width: 380px) {
    
        .card-content{
            width: 215px;
            border-radius: 8px;
            padding: 20px;
        }
    
        .thumbnail{
            height:155px;
            width:215px;
            background: black url('./Images/thumbnail.png') no-repeat center;
            overflow:hidden;
            cursor:pointer;
        }
    
        #card1{
            margin-left: -10px;
        }
    }
    
    

    
/* css for footer starts here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


body{
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    margin:0px;
}

.footer_mainbox{
    margin: 2% 3% 2% 3%;
}

@media screen and (min-width:1125px){
    .footer_box{
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        flex-wrap: wrap;
        margin: 1% 0 2% 0;
    }
    
    hr{
        background-color: rgba(217, 217, 217, 1);
        
    }

    .tedex_logo{
        margin-left: 0;
    }

    #ted_image{
        width: 380px;
    }

    .headings_top{
    
        font-size:25px;
        margin: 5px 5px 5px 5px;
        
    }
    
    .headings_bottom{
        /* font-size: 1.2vw; */
        font-size: 25px;
        margin: 15px auto 15px 0;
    
    }
    
    .links{
        /* font-size: 1vw; */
        font-size: 18px;
        color:  rgba(153, 153, 153, 1);
        margin:15px 5px 15px 5px;
        /* padding: 10% 10% 10% 10%; */
        
    }

    .links3{
        margin: 15px 5px 15px 5px;
        font-size: 18px;
        color:  rgba(153, 153, 153, 1);
    }

    
    
    .footer_foot{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .foot_text{
        color:rgba(153, 153, 153, 1) ;
        /* font-size: 1vw; */
        font-size: 18px;
    }
    
    .footer_sub_boxes{
        padding: 0 0 0 0;
        margin-right: auto;
        white-space: nowrap;
    }
}

@media (max-width:1125px) and (min-width:801px) {
    .footer_box{
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        flex-wrap: wrap;
        margin: 1% 0 2% 0;
    }
    
    hr{
        background-color: rgba(217, 217, 217, 1);
        
    }

    .tedex_logo{
        margin-left: 0;
    }

    #ted_image{
        width: 290px;
    }

    .headings_top{
        /* font-size: 100%; */
        /* font-size: 1.2vw; */
        font-size: 25px;
        margin:5px 5px 5px 5px;
    }
    
    .headings_bottom{
        /* font-size: 1.2vw; */
        font-size: 25px;
        margin: 5px auto 5px 0;
    
    }
    
    .links{
        /* font-size: 1vw; */
        font-size: 18px;
        color:  rgba(153, 153, 153, 1);
        margin: 10px 5px 10px 5px;
        
    }
    
    .links3{
        margin: 10px 5px 10px 5px;
        font-size: 18px;
        color:  rgba(153, 153, 153, 1);
    }

    .footer_foot{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .foot_text{
        color:rgba(153, 153, 153, 1) ;
        /* font-size: 1vw; */
        font-size: 18px;
    }
    
    .footer_sub_boxes{
        padding: 0 100px 0 0;
        margin-right: auto;
        white-space: nowrap;
    }

    #sub_box1{
        padding-right: 65px;
    }

    #sub_box2{
        
        padding-right: 40px;
        /* padding-left: 10vw; */
        /* padding-right: 20vw; */
    }

    

    #sub_box3{
        padding-right: 125px;

    }
    #sub_box4{
        /* padding-left: 26vw; */
    }


    #sub_box4{
        /* padding-left: 32%; */
        /* padding-left: auto; */
    }



}

@media screen and (max-width:800px){
    .footer_box{
        display: flex;
        flex-direction: column;
        justify-content: center;        
        margin: 1% 0 2% 0;
    }
    
    #ted_image{
        width: 40vw;
    }
    
    hr{
        background-color: rgba(217, 217, 217, 1);
        
    }

    .headings_top{
        /* font-size: 100%; */
        /* font-size: 1.2vw; */
        font-size: 3.5vw;
        /* margin: 10% 10% 10% 10%; */
        padding: 2vw 2vw 2vw 2vw;
        text-align: center;
    }
    
    .headings_bottom{
        /* font-size: 1.2vw; */
        font-size: 3.5vw;
        margin: 0 auto 0 0;
        text-align: center;
        padding: 1vw 1vw 1vw 1vw;
    
    }
    


    .links{
        /* font-size: 1vw; */
        font-size: 2.5vw;
        color:  rgba(153, 153, 153, 1);
        /* margin: 10% 10% 10% 10%; */
        padding: 1.1vw 1.1vw 1.1vw 1.1vw;
        text-align: center;
        
    }
    
    .links3{
        padding: 1vw 1vw 1.1vw 1vw;
        font-size: 2.5vw;
        color:  rgba(153, 153, 153, 1);
        text-align: center;
    }
    /* #sub_box2{
        padding: 8% 8% 8% 8%;
    } */

    #follow_us{
        margin-top: 0.90vw;
    }
       
    
    .footer_foot{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .foot_text{
        color:rgba(153, 153, 153, 1) ;
        /* font-size: 1vw; */
        font-size: 2.5vw;
        margin: 2vw 1vw 2vw 1vw;
        text-align: center;
    }
    
    .footer_sub_boxes{
        padding: 0 0% 0 0%;
        margin-right: auto;
        margin-left: auto;
        white-space: nowrap;
        overflow: visible;
    }
}
/* css for footer ends here */